body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.ratings-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    margin-bottom: 10px;
}

.calificacion {
    height: 30px;
    width: 90px;
    font-size: 1em;
}

button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.ratings-chart {
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.barraCalificacion {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    background-color: #e0e0e0;
    border: 2px solid #ccc;
    display: flex;
    overflow: hidden;
}

.puntaje {
    height: 40px;
    border-radius: 7px;
    transition: width 0.5s ease-in-out; /* Transición suave de la propiedad width */
}

.bar-1 { background-color: #ffc107; }
.bar-2 { background-color: #2196f3; }
.bar-3 { background-color: #4caf50; }
.bar-4 { background-color: #ff9800; }
.bar-5 { background-color: #e91e63; }

p, h4 {
    margin: 5px 0;
    color: #333;
}
